body{
    margin:0;
    padding: 0;
    font-family: Arial;
    overflow-x: hidden;
    background-color: #f0f0f0;

}
h1{
    margin:0;
    font-size: 50px;
    font-weight: bold;
}
.logo{
    width: 50px;
}


.topnav{
    position: relative;
    /*
        background-color: #333;
            background-color: black;
        */

    overflow: hidden;
}
.topnav a{
    float: left;
    display: block;
    color:#f2f2f2;
    text-align: center;
    padding-bottom: 3px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 10px;
    margin-right: 20px;
    transition-duration: 0.6s;
}
/*To make all the buttons other than the first one go to the right.*/
.topnav a:not(:first-child){
    float: right;
}
.topnav a:hover{
    color: black;
    border-bottom: 2px solid orange;
}
/*Active takes care of the display when the box is clicked.*/
.topnav a:active{
    color: white;
    border-bottom: 5px solid orange;
}
/*We want that as soon as the display goes under 600px we want our icon to be displayed.*/
.topnav .icon{
    display: none;
}
@media screen and (max-width:600px){
    .topnav a:not(:first-child){
        display: none;
    }
    .topnav a.icon{
        float: right;
        display: block;
    }
}

@media screen and (max-width:600px){
    .topnav.responsive{
        background-color: #333;
        position: relative;
    }
    .topnav.responsive .icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
}
.hero_main{
    position: relative;
    width: 100%;
    background-image:linear-gradient( to top right, rgba(0,0,0,0.8),rgba(0,0,0,0.5)), url(../images/sakura.webp);
    background-size: cover;
    background-position: center;
    height: 120vh;
    -webkit-clip-path:polygon(0 0,100% 0, 100% 80%,0 100%);
}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 20%;
    left: 50%;
    transform: translate(-50%,50%);
    font-weight: 300;
    color: white;
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 100px;
}
@media screen and (max-width: 1140px){
    .hero-text-box{
        width: 100%;
        font-size: 25px;
        margin-left: 15px;
    }
}
@media screen and (max-width: 600px){
    .hero-text-box{
        width: 100%;
        font-size: 20px;
        padding-bottom: 50px;
    }
    .btn{
        display: block;
        margin-top: 20px;
    }
    .btn-more{
        width: 30vw;
    }
    .btn-take{
        width: 18vw;
    }
}
.btn-take{
    color: white;
    background-color: #bb7900;
}
.btn{
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
    padding: 8px 15px;
}
.btn-more{
    border: 2px solid #bb7900;
    color: black;
}
.btn-take:hover{
    background-color: #996300;
    border: 1px solid #996300;
}
.btn-more:hover{
    border: 1px solid #bb7900;
    color: white;
}
.section_globe{
    /*background-color: red;*/
    height: 75vh;
    position:relative;
    width: 100vw;
    margin-left: 20px;
}
.col1of2{
    width: 50%;
    float: left;
}
.main_head{
    margin: 40px 0;
    margin-bottom: 70px;
}
.globe_head{
    text-align: center;
    font-size: 30px;
    background-image: linear-gradient(to right,#16A085,#F4D03F);
    -webkit-background-clip: text;
    color: transparent;
}
.sub_head{
    text-transform: uppercase;
    font-size: 20px;
}
.composition_photo{
    position: absolute;
    width: 40%;
    z-index: 10;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
    border-radius: 3px;
    opacity: 1;
    transition-duration: 0.4s;
    outline-offset: 5px ;
}
.composition_photo_1{
    right: 300px;
    top: 50px;
    width: 300px;
}
.composition_photo_2{
    right: 0;
    top: 250px;
    width: 400px;
}
.composition_photo_3{
    width: 350px;
    top: 500px;
    right: 300px;
}
/*When we hover over a photo we want the photo to pop up on top of others.*/
.composition_photo:hover{
    transform:scale(1.05) translateY(-5px);
    /*The image should get a little bigger in size. It should come up.*/
    /*The box shadow should increase.*/
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
    z-index: 20;
    /*The image should be visible above other images.*/
    outline: 15px solid #16a085;
    /*Their shoudl be an outline.*/
}
/*Now we want that when we hover over an image the other images should not be visible to us.*/


.composition:hover           
composition_photo:not(:hover){
    transform: scale(0.95);
    opacity: 0;
}
.left-para{
    width: 85%;
    color: #575656;
    text-align: left;
}
.btn_anchor{
    background-color: orange;
    color: white;
}
@media screen and (max-width: 1140px){
    .composition_photo_1{
        right: 180px;
        width: 250px;
    }
    .composition_photo_2{
        width: 300px;
        right: 0px;
        top: 300px;
    }
    .composition_photo_3{
        width: 350px;
        right: 100px;
        top: 550px;
    }
}
@media screen and (max-width: 800px){
    .composition_photo_1{
        right: 130px;
        width: 200px;
    }
    .composition_photo_2{
        width: 250px;
        right:0;
        top: 300px;
    }
    .composition_photo_3{
        width: 300px;
        right: 50px;
        top: 550px;
    }
}
@media screen and (max-width:600px){
    .composition_photo_1{
        right: 50px; 
        width: 200px;
        top: 100px;
    }
    .composition_photo_2{
        width: 200px;
        top: 430px;
        right: 50px;
    }
    .composition_photo_3{
        width: 250px;
        right: 30px;
        top: 710px;
    }
}
.section_features{
    position: relative;
    background-image: url(../images/gree.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin-top: 50vh;
    -webkit-clip-path:polygon(0 20%,100% 0, 100% 80%, 0 100%);
}
.inner_features{
    width: 90%;
    position: absolute;
    margin-top: 180px;
    margin-left: 5%;
}
.grid-container{
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
.grid-item{
    box-sizing: border-box;
    background-color:rgba(255,255,255,0.7);
    height: 50vh;
    width: 90%;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: #575656;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
    transition-duration: 0.4s;
}
.icon{
    transform: scale(3);
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(27, 177, 112);
}
.fea_head{
    margin: 10px 0;
    margin-top: 50px;
    font-size: 18px;
    text-transform: uppercase;
}
.fea_text{
    letter-spacing: 0.5px;
    text-align: center;
}
.grid-item:hover{
    transform: scale(1.2) translateY(-7px);
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}
.main_forms{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    height: 100vh;
    margin: 20px 0 50px;
}
.container{
    background-color:#fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 770px;
    max-width: 100%;
    min-height: 480px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}
.form-container{
    position: absolute;
    height: 100%;
}
.social-container{
    margin: 20px 0;
}
.social-container a{
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px; 
    width: 40px;
}
form{
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center; 
}
input{
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}
.sign-up-cotainer{
    left: 0;
    width: 50%;
    z-index: 1;
}
.sign-in-container{
    left: 0;
    width: 50%;
    z-index: 2;
    opacity: 0;
}
.overlay{
    background:#ff416c;
    background:linear-gradient(to right,#ff4b24,#ff416c);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform:translateX(0);
    transition: transform 0.6s ease-in-out;
}
.overlay-panel{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding:0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.overlay-left{
    transform:translateX(-20%);
}
.overlay-right{
    right: 0;
    transform: transformX(0);
}
/*Things to Add.

1. When the window width goes down and you press the three lines the blocks of Globe, Account, Contact should be shown top down.
2.
3. 
4. 
5. 
6.  */